@model CharacteristicType
@{
    ViewData["Title"] = "Redigera attributlista";
}
<partial name="_TitlePartial" />
<form asp-action="EditCharacteristicType" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Namn på attributgrupp:</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <button class="btn btn-primary" type="submit">Spara</button>
    <a asp-action="ListCharacteristicGroups" class="btn btn-secondary">Avbryt</a>
</form>