<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KingPim: @ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/Images/favicon.ico" />
    <script src="~/js/site.min.js"></script>
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="~/css/custom-style.min.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="navbar-brand"><img src="~/images/KingPim_Logo.png" />KingPim</div>
        </nav>
    </header>
    <div class="container-fluid">
        <br />
        @RenderBody()
    </div>
</body>
</html>