@model Category
@{
    ViewData["Title"] = "Redigera kategori";
}
<partial name="_TitlePartial" />
<form asp-action="EditCategory" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Version" />
    <div class="form-group">
        <label>Namn på kategori:</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <button class="btn btn-primary" type="submit">Spara</button>
    <a asp-action="ListCategories" class="btn btn-secondary">Avbryt</a>
</form>