@model ChangeUserPasswordViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Glömt lösenord";
}
<partial name="_TitlePartial" />
<form asp-controller="Login" asp-action="ForgotUserPassword" method="post">
    <div class="form-group">
        <label>E-postadress till din inloggning:</label>
        <input type="email" name="email" id="email" class="form-control" required />
    </div>
    <button class="btn btn-primary" type="submit">Skicka</button>
    <a asp-controller="Login" asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>